.register {
    padding: 1em;
    width: 17em;
    border-radius: 0.3em;
}

.register__header {
    background-color: var(--body-secondary-background);
}

.register__title {
    margin: 0.3em 0;
    padding: 0.5em;
    border-radius: 0.3em;
    text-align: center;
}

.register__main {
    background-color: var(--body-primary-background);
}