.form {
    display: flex;
    flex-direction: column;
    margin-top: 1.2em;
    gap: 0.6em;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__form {
    display: inline-flex;
    flex-direction: column;
    padding: 1em;
    width: 17em;
    gap: 1em;

    border-radius: 0.3em;
    background-color: var(--body-secondary-background);
}

.form__title {
    padding: 0.5em;
    border-radius: 0.3em;

    background-color: var(--body-secondary-background);
    text-align: center;
}

.form__footer {
    display: flex;
    justify-content: center;
    margin-top: 0.4em;
}
