.dashboard {
    display: grid;
    gap: 0.5em;    
    grid-template-areas: 
    "home home home home recommendedApps"
    "home home home home integrations"
    "home home home home integrations"
    "home home home home integrations"
    "todo todo todo d integrations"
    "todo todo todo d integrations"
    "todo todo todo d integrations";

    height:90vh;
}

.home {
    grid-area: home;
}

.integrations {
    grid-area: integrations;
}

.recommendedApps {
    grid-area: recommendedApps;
}

.todo {
    grid-area: todo;
}