:root {
    --body-primary-background: #16161a;
    --body-secondary-background: #242629;
    --card-background: #16161a;
    --button-primary-background: #7f5af0;
    --ancord-primary-color: #c5b1ff;
    --input-primary-color: #16161a;
    --text-primary-color: #fffffe;
    --text-secondary-color: #94a1b2;
    --border-primary-color: #010101;
    --primary-font: 'Roboto'

}

body {
    background-color: var(--body-primary-background);
    color: var(--text-primary-color);
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
    color: var(--ancord-primary-color);
}

input, button {
    color: inherit;
    padding: 0.6em;
    border: none;
    border-radius: 0.2em;
}

input {
    outline: none;
    background-color: var(--input-primary-color);
}

button {
    background-color: var(--button-primary-background);   
    font-weight: 600;
    cursor: pointer;
}