:root {
    --body-primary-background: #16161a;
    --body-secondary-background: #242629;
    --body-terceary-background: #393c41;

    --button-primary-background: #7f5af0;

    --ancord-primary-color: #c5b1ff;

    --input-primary-color: #16161a;

    --text-primary-color: #fffffe;
    --text-secondary-color: #94a1b2;

    --border-primary-color: #010101;
    
    --error-primary-backgorund: #b83a3a;
    --font-primary: 'Roboto';

    --sb-track-color: transparent;
    --sb-thumb-color: var(--text-secondary-color);
    --sb-size: 2px;

}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--body-primary-background);
    color: var(--text-primary-color);
    font-family: var(--font-primary);

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

a {
    text-decoration: none;
    color: var(--ancord-primary-color);
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

input,
button {
    color: inherit;
    border: none;
    border-radius: 0.2em;
}

input {
    padding: 0.6em;
    outline: none;
    background-color: var(--input-primary-color);
}

button {
    display: flex;
    justify-content: center;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size)
}

::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
}