.index__wrap {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.index__image {
    height: 19em;
    min-width: 20em;
    max-width: 29em;
    border-radius: 10%;

    background-color: rebeccapurple;
    filter:hue-rotate(60deg) ;
    object-fit: cover;
    object-position: center center;
}