.index {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index__wrap {
    display: flex;
}
.index__image {
    min-width: 20em;
    max-width: 25em;
    object-fit: cover;
    object-position: center center;
    background-color: rebeccapurple;
    height: 30em;
}