:root {
    --body-primary-background: #16161a;
    --body-secondary-background: #242629;
    --card-background: #16161a;
    --button-primary-background: #7f5af0;
    --ancord-primary-color: #c5b1ff;
    --input-primary-color: #16161a;
    --text-primary-color: #fffffe;
    --text-secondary-color: #94a1b2;
}