.section {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 0.3em;
    overflow: hidden;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__main {
    display: flex;
    gap: 0.5em;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.section__main-column {
    flex-direction: column;
}

.section__main-row {
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
}

.section__not-found-message {
    color: var(--ancord-primary-color);
    font-weight: 700;
    font-size: 0.75em;
}