.section {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 0.3em;
    overflow: hidden;
}

.section__main {
    display: flex;
    gap: 0.5em;
    flex-grow: 1;
    overflow: auto;
}

.section__main-column {
    flex-direction: column;
}

.section__main-row {
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
}